[flake8]
ignore = E203,E501,W503
max-line-length = 88
max-complexity = 18
per-file-ignores = __init__.py:F401

; rules to ignore for compatibility with black
; E203  Whitespace before ':' (https://black.readthedocs.io/en/stable/the_black_code_style.html#slices)
; E501  Line too long (https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length))
; W503  Line break occurred before a binary operator (https://black.readthedocs.io/en/stable/the_black_code_style.html#line-breaks-binary-operators)

; Ignoring rule F401 on __init__.py lets you expose only the necessary functions in a module and treat the module as an api.
; F401  Module imported but unused
